

<div class="body">
    
    <div class="leftCol">
        @{
            if (Model.rootObject.appnews.newsitems != null)
            {
                foreach (DotaBrackets_WEB_2016.Models.Newsitem newsItem in Model.rootObject.appnews.newsitems)
                {
                <div class="newsItem">
                    <ul>
                        <li style="text-align: right; margin-bottom: 1%; color:  #b5f7f3;">
                            @Html.Raw(newsItem.feedlabel)
                        </li>
                        <li class="newsTitle">
                            <a href="@Html.Raw(newsItem.url)">@Html.Raw(newsItem.title)</a>
                        </li>
                        <li>
                            @Html.Raw(newsItem.contents)
                        </li>
                        <li>
                            <a href="@Html.Raw(newsItem.url)">
                                <button class="readMore">Read More</button>
                            </a>
</li>
                    </ul>
                </div>
                    }
                }
            }
    </div>

    <div class="rightCol">
        <ul class="rightColUL">
            <li>
                Public Stats
            </li>
        </ul>
    </div>

</div>