

<div class="body">

    <div class="regHead">
        <h1>
            New? Make an account!
        </h1>
    </div>

    <div class="register">
        <ul>
            <li style="color:cyan; font-size: 1.4em; text-align: center; border-left: none">
                Register
            </li>
@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { id = "form1" }))
{
            <li>
                <label style="float: left; width: 12%; color: white">Username:</label>
                @Html.TextBox("userName", "", new { Style = "width: 52 %; background-color: #b5f7f3; border: 1px solid teal" })
            </li>
            <li>
                <label style="float: left; width: 12%; color: white">Password:</label>
                @Html.Password("access", "", new { Style = "width: 52 %; background-color: #b5f7f3; border: 1px solid teal" })
            </li>
            <li>
                <label style="float: left; width: 12%; color: white">SteamID:</label>
                @Html.TextBox("steamID", "", new { Style = "width: 52 %; background-color: #b5f7f3; border: 1px solid teal" })
                
                <span class="moreInfo">                 
                    ? 
                    <a href="https://steamcommunity.com/discussions/forum/1/364039785160857002/">
                        <span class="hiddenInfo">
                            This is your 64 bit Steam ID. Click for more information.
                        </span>
                    </a>
                </span>

            </li>
            <li>
                <label>What skill level are you?:</label>
                <p>
                    @Html.DropDownList("tmmr", (SelectList)ViewBag.mmr, "--Select--")
                </p>
            </li>
            <li>
                <label>Which language do you speak?</label>
                <p>
                    @Html.DropDownList("tlang", (SelectList)ViewBag.lang, "--Select--")
                </p>
            </li>
            <li>
                <label>Do you have a mic?:</label>
                <p>
                    @Html.DropDownList("thasMic", (SelectList)ViewBag.hasMic, "--Select--")
                </p>
            </li>
            <li>
                <label>Which Server do you prefer?:</label>
                <p>
                    @Html.DropDownList("tserv", (SelectList)ViewBag.serv, "--Select--")
                </p>
            </li>
            <li style="color:cyan; font-size: 1.4em; text-align: center;">
                Party Members
            </li>
            <li>
                <label>What skill level should your teammates be?:</label>
                <p>
                    @Html.DropDownList("pmmr", (SelectList)ViewBag.mmr, "--Select--")
                </p>
            </li>
            <li>
                <label>Should your teammates have a mic?:</label>
                <p>
                    @Html.DropDownList("phasMic", (SelectList)ViewBag.hasMic, "--Select--")
                </p>
            </li>
            <li>
                <label>What language do your teammates speak?</label>
                <p>
                    @Html.DropDownList("plang", (SelectList)ViewBag.lang, "--Select--")
                </p>
            </li>
            <li style="text-align: center">
                <button>Submit</button>
            </li>
}
        </ul>
    </div>
</div>

@section scripts
{
    <script>

        $(document).ready(function () {
           
            $("#pmmr").change(function () {
                var mmrID = $("#pmmr").val();
                
            });
        });

    </script>
}

